@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* @media screen and (min-width: 800px) {
    body, h1, h2, h3, p, ul, li  {
        margin: 0;
        padding: 0;
    }
} */
/* body, h1, h2, h3, p, ul, li  {
    margin: 0;
    padding: 0;
} */

*,
*:after,
*:before {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    font-family: "sans-serif";
    font-size: 1rem;
    line-height: 1.3;
    background-color: rgb(0, 0, 0);
    color: white;
    
    font-weight: 400;


    /* height: 2000px; */
}

section {
    margin: 100px 0;
}


/* Nav Bar */

.nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
}

.nav-wrapper {
    font-size: 1.3rem;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(to top right, #0f0C29, #302B63);
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.nav-link-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1.5rem;
}

.logo {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    transform: translateX(-0.4rem);
}

#logo {
    height: 5rem;
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

li {
    margin: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: #9870ff;
}

a:hover {
    color: #6545b7;
}

a:active {
    color: red;
}

.hamburger, .cross {
    display: none;
}

.nav-link {
    display: block;
}

/* Hamburger */

@media screen and (max-width: 800px) {

    ul {
        height: 100vh;
    }

    .nav-link-wrapper {
        position: fixed;
        width: 65%;
        margin-left: 35%;
        background-color: rgba(90, 86, 86, 0.6);
        margin-top: 0;
        padding-top: 2.25rem;
        padding-bottom: 100%;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        transition: transform 150ms ease-out;
        transform: translateX(100%);

        font-size: 1.4rem;
    }

    .nav-link {
        margin-left: -1rem;
        padding: 0.25rem 0;
    }

    .hamburger{
        display: block;
        padding: 1rem 1.75rem;
        font-size: 2rem;
        cursor: pointer;

        z-index: 10;
    }

    .cross {
        display: none;
        padding: 1rem 1.75rem;
        font-size: 2rem;

        z-index: 10;
    }

    .hamburger:hover, .cross:hover {
        color: #6545b7;
    }


    /* Javascript to toggle display: block/none for hamburger and cross for Mobile */
    .hamburger.hide {
        display: none
    }

    .cross.show {
        display: block
    }

    .nav-link-wrapper.showNav {
        display: flex;
        flex-direction: column;
        align-items: start;

        transition: transform 150ms ease-in;
        transform: translateX(0);
    }

}








/* VIDEO AUTOPLAY BACKGROUND SECTION */



.showcase{
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
}

.showcase video {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 10rem;
    color: #fff;
    mix-blend-mode: multiply;
}

p.title {
    margin: 80px 0 0 0;
}

@media screen and (max-width: 800px) {
    .showcase {
        height: 100px;
    }
    
    .title {
        font-size: 5rem;
    }
}




h1 {
    margin: 0;
}

section.gradient {
    width: 100vw;
    height: 300px;
    background: linear-gradient(to top right, #0f0C29, #302B63);
    margin: 0;
}






.portfolio-img {
    width: 300px;
}





#banana {
    margin-top: 1000px;
    width: 100px;
}

#zzz2 {
    margin-top: 1000px;
}